$color-primary: #34144f;
$color-primary: #00d3ff;
$color-secondary: #ffbf00;
$color-secondary: #eb9812;
$color-tertiary: #00cf99;

:root {
  --primary: #{$color-primary} !important;
  --secondary: #{$color-secondary} !important;
  --tertiary: #{$color-tertiary} !important;
}

$color-success: rgb(40, 167, 69);
$color-danger: rgb(220, 53, 69);

$color-black-matt: rgb(45, 45, 45);
$color-grey: grey;

$color-base-primary: #fff;
$color-base-secondary: rgba(black, 0.015);
$color-base-tertiary: #2a2a2a;
$color-base-light: $color-base-primary;
$color-base-dark: $color-base-tertiary;

$color-shadow: rgba($color-black-matt, 0.3);
$color-shadow-light: rgba($color-base-primary, 0.3);

$shadow-config-primary: 0 2px 4px 0;
$shadow-config-secondary: 4px 4px 10px;

$font-primary: "Roboto";
$font-secondary: "Nunito";

@function shadow-primary($color: $color-shadow) {
  @return $shadow-config-primary $color;
}

@function shadow-secondary($color: $color-shadow) {
  @return $shadow-config-secondary $color;
}

:root {
  --primary: $color-primary;
}
