@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto|Nunito&display=swap");
:root {
  --primary: #00D3FF !important;
  --secondary: #ffbf00 !important;
  --tertiary: #00CF99 !important;
}

:root {
  --primary: $color-primary;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-capital {
  text-transform: uppercase;
}

.spaching-sec {
  margin: 5vmin 0vmin 0 0 !important;
}

.cara-img-rad {
  width: 100% !important;
  border-radius: 10px !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.heder-navbar {
  width: 100%;
  -webkit-box-shadow: 0px 15px 10px -15px #111 !important;
          box-shadow: 0px 15px 10px -15px #111 !important;
}

.img-zoom img, .card-big-img-contener img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.img-zoom:hover img, .card-big-img-contener:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-big-img-contener {
  width: 100%;
  height: 100%;
  max-height: 300px;
  z-index: 1;
  position: relative;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.3);
          box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.3);
}

.card-big-img-contener .card-big-img-link {
  display: block;
  width: 100%;
}

.card-big-img-contener .card-big-img-contener-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.card-big-img-contener .card-big-taitel {
  position: absolute;
  width: 70%;
  padding: 3vmin;
  bottom: 2vmin;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 5px 5px 0px;
}

.card-big-img-contener .card-big-taitel .card-big-taitel-text {
  color: #2d2d2d;
  display: inline;
  font-weight: 500;
  font-size: 3vmin;
  line-height: 140%;
  word-break: normal;
  overflow: hidden;
  font-size: calc(8px + 1.5vmin);
}

.col-contener {
  width: 100%;
  margin-top: 5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 46.24em) {
  .col-contener {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.small-card-sec {
  max-width: 255px;
  -webkit-box-shadow: 0 1px 6px 0 #17a2b8;
          box-shadow: 0 1px 6px 0 #17a2b8;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  min-height: 110px;
  overflow: hidden;
  margin: 0 auto 20px auto;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.3);
          box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.3);
}

.small-card-sec:hover {
  color: black;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px 0 #17a2b8;
          box-shadow: 0 3px 6px 0 #17a2b8;
}

.small-card-sec:hover::after {
  width: 100%;
  -webkit-transform: translatey(60%);
          transform: translatey(60%);
}

.small-card-sec .small-c-titel {
  padding: 10px 15px;
  font-family: "Nunito";
}

.small-card-sec::before {
  content: " ";
  background: -webkit-gradient(linear, left top, right top, from(#0f01ff), color-stop(46%, #2d2dbf), to(#00d4ff));
  background: linear-gradient(90deg, #0f01ff 0%, #2d2dbf 46%, #00d4ff 100%);
  color: #000;
  height: 6px;
  width: 100%;
  display: block;
}

.medium-card-sec {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 2.1875rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.3);
          box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.medium-card-sec:hover {
  -webkit-box-shadow: 4px 4px 10px #a7e9f4;
          box-shadow: 4px 4px 10px #a7e9f4;
}

.medium-card-sec a {
  text-decoration: none;
}

.medium-card-sec a:hover {
  color: #111;
}

@media (max-width: 46.24em) {
  .medium-card-sec {
    margin-top: 3vmin;
  }
}

.medium-card-sec .medium-c-titel {
  padding: 10px 15px;
}

.medium-card-sec::before {
  content: " ";
  background: -webkit-gradient(linear, left top, right top, from(#0f01ff), color-stop(46%, #2d2dbf), to(#00d4ff));
  background: linear-gradient(90deg, #0f01ff 0%, #2d2dbf 46%, #00d4ff 100%);
  color: #000;
  height: 6px;
  width: 100%;
  display: block;
}

.medium-card-sec .medium-card-img {
  width: 100%;
  max-height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

.carousel {
  width: 100%;
}

.carousel .carousel-indicators {
  position: absolute;
  top: 2em;
}

.carousel .carousel-caption {
  z-index: 10;
  bottom: 3rem;
  height: 50vmin;
  padding: 2vmin;
  border-radius: 15px;
  background: #2d2c2c82;
}

.carousel .carousel-caption h1 {
  margin: 2vmin 0;
}

.carousel .carousel-caption p {
  margin: 2vmin 0;
}

.carousel .carousel-item {
  height: 70vh;
  position: relative;
}

.carousel .carousel-item img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Declare heights because of positioning of img element */
/* using a container causes multiple alerts to stack. */
.alerts-container {
  position: fixed;
  z-index: 9999;
}

.alert {
  position: relative;
  min-width: 15em;
  text-align: center;
  display: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
}

.big-story-taitel, [class*="sec-taitel"] {
  font-weight: bold;
}
/*# sourceMappingURL=common.css.map */